extends layout.pug

block content

    body
        h1 Books
        p
            a(class='button' href='/books/book/new') Create New Book
        br

        h2 Search a book 

        div.searchBar
            input(type="text")
            |
            |
            |
            a(type="button" href=`/books/search/${searched_string}`) Search
        br
        table
            thead
                tr
                    td Title
                    td Author
                    td Genre
                    td Year


            tbody
                each book in books
                    tr
                        td
                            a(href=`/books/${book.id}/edit`)= book.title
                        td= book.author
                        td= book.genre
                        td= book.year
        
        br
        
        div.pagination
            - var i = 1;
            while (i < (pages+1))
                a(class='button' href=`/books/${i}`)= i
                - i++

